<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本地方法数据编辑</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all" />
    <link rel="stylesheet" href="js/layAutoComplete/layuiAutocomplete.css">
    <style>
        .layui-body{overflow-y: scroll;}
    </style>
</head>
<body>
<form class="layui-form layui-form-pane"  lay-filter="methodForm">
    <span id="methodDataId"  hidden th:text='${id}'></span>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <!-- 左侧面板 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">类名</label>
                    <div class="layui-input-block">
                        <input type="text" id="localClassName" name="localClassName" placeholder="带有包路径的类名" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">方法名</label>
                    <div class="layui-input-block">
                        <input type="text" id="localMethodName" name="localMethodName" placeholder="方法名" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">返回实现类</label>
                    <div class="layui-input-block">
                        <input type="text" id="returnType" name="returnType" placeholder="返回类型的实现类，不是抽象类和接口可以不写" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">参数类名</label>
                    <div class="layui-input-block">
                        <input type="text" id="argsClassName" name="argsClassName" placeholder="参数类名，多个以英文逗号分隔" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">方法描述</label>
                    <div class="layui-input-block">
                        <input type="text" id="methodDesc" name="methodDesc" autocomplete="on" class="layui-input">
                    </div>
                </div>
            </div>
            <!-- 右侧结果面板 -->
            <div class="layui-col-md6">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">mock结果（Json）</label>
                    <div class="layui-input-block">
                        <div id="jsoneditor" style="height: 560px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="float:right;">
                <button type="button" data-method="submitBtn" class="layui-btn">保存</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/javascript" src="js/jsoneditor/jsoneditor.min.js"></script>

<script>
    layui.config({
        base: 'js/layAutoComplete/' //这是layAutoComplete.js所在的目录
    }).extend({ //设定模块别名
        autocomplete: 'layAutoComplete'
    });
    layui.use(['layer','form', 'layedit', 'laydate','element','autocomplete'], function() {
        var $ = layui.jquery, layer = layui.layer,form = layui.form;
         var methodDataId = $("#methodDataId").text();
                 //初始化jsoneditor
        var container = document.getElementById("jsoneditor");
        var options = {
            mode: 'code',
            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
            onError: function (err) {
                layer.message(err.toString());
            },
            onModeChange: function (newMode, oldMode) {
                console.log('Mode switched from', oldMode, 'to', newMode);
            }
        };
        var editor = new JSONEditor(container, options);
        $.ajax({
            url:"/method/data/findOne?id="+methodDataId,
            async:true,
            type:"GET",
            success:function (data) {
               form.val('methodForm',{
                    'id':data.id,
                    'type':data.type,
                    'localClassName':data.localClassName,
                    'localMethodName':data.localMethodName,
                    'returnType':data.returnType,
                    'argsClassName':data.argsClassName,
                    'methodDesc':data.methodDesc,
                    'resultData':data.resultData
                });
                editor.set(JSON.parse(data.resultData));
            }
        });

        //触发事件
        var modalIndex = parent.layer.getFrameIndex(window.name);
        var active = {
            submitBtn:function () {
                var json = editor.getText();
                var resultData=json.replace(/\t/g,"").replace(/\n/g,"").replace(/\r/g,"");
                var formData={
                    'id':methodDataId,
                    'localClassName':$("#localClassName").val(),
                    'localMethodName':$("#localMethodName").val(),
                    'returnType':$("#returnType").val(),
                    'argsClassName':$("#argsClassName").val(),
                    'methodDesc':$("#methodDesc").val(),
                    'resultData':resultData
                }
                var index = layer.load(0, {shade: false});
                $.ajax({
                    url       : "/method/data/save",
                    type      : "post",
                    dataType  : "json",
                    contentType: "application/json",
                    data      : JSON.stringify(formData),
                    success: function () {
                        layer.close(index);
                        layer.msg("保存成功!")
                         //刷新父级页面
                        parent.location.reload();
                        //一秒后关闭页面
                        setTimeout(function(){parent.layer.close(modalIndex)}, 1000);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(index);
                        layer.msg("保存失败!")
                    }
                });
            }
        };

        $('.layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
</script>
</body>
</html>