<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="UTF-8">
    <title>本地方法数据</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all" />
</head>
</head>
<body>
</br>
<div  class="queryTable">
    接口类名：
    <div class="layui-inline">
        <input class="layui-input" id="className"  autocomplete="on" placeholder="类名">
    </div>
    &nbsp;&nbsp;&nbsp;
    方法名称：
    <div class="layui-inline">
        <input class="layui-input" id="methodName"  autocomplete="on" placeholder="方法名">
    </div>
    &nbsp;&nbsp;&nbsp;
    创建人：
    <div class="layui-inline">
        <input class="layui-input" id="erp"  autocomplete="on" placeholder="erp名字">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<table class="layui-hide" id="dataTable" lay-filter="tableFilter"></table>
<!--<table id="dataTable" class="layui-table" lay-data="{height: 313, url:'/method/data/findAll', page:true}" lay-filter="tableEvent">
    <thead>
    <tr>
        <th lay-data="{field:'localClassName', width:80}">类名</th>
        <th lay-data="{field:'localMethodName', width:150}">方法名称</th>
        <th lay-data="{field:'resultData', width:'50%', event: 'setSign', style:'cursor: pointer;'}">接口返回数据</th>
        <th lay-data="{field:'desc'}">描述信息</th>
        <th lay-data="{field:'erp'}">创建人</th>
        <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#operateBar'}">操作</th>
    </tr>
    </thead>
</table>-->
<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copy">复制</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="modifyDate">
    {{ dateFormat(d.modifyDate) }}
</script>
<script>
    function dateFormat(value) {
        return value ? new Date(value).format("yyyy-MM-dd hh:mm:ss") : "";
    }
    layui.use(['table','jquery'], function() {
        var table = layui.table, $ = layui.jquery;
        table.render({
            "elem":"#dataTable",
			"url":"/method/data/list",
			"cols": [
                        [
                          {"field":"localClassName", "title":"类名"},
                          {"field": "localMethodName", "title":"方法名"},
                          {"field":"erp", "title":"创建者"},
                          {"field":"modifyDate", "title":"修改时间",templet: '#modifyDate'},
                          {"field":"methodDesc", "title":"说明"},
                          {"field":"resultData", "title":"mock数据"},
                          {"title":"操作","fixed":"right","width":178,"align":"center","toolbar":"#operateBar"}
                        ]
            ],
            "id":"dataTable",
            "page": true,
            "height": 500
        });

        var active = {
            reload: function(){
                var queryUrl="/method/data/list";
                var className = $('#className').val();
                var methodName = $('#methodName').val();
                var erp = $('#erp').val();
                //执行重载
                table.reload('dataTable', {
                    url:queryUrl,
                    where:{
                        className:className,
                        methodName:methodName,
                        erp:erp
                    }
                });
            }
        };

        //监听工具条
          table.on('tool(tableFilter)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                //弹出iframe
                layer.open({
                    type: 2,
                    title:"编辑",
                    area : ['700px', '600px'],
                    maxWidth:'200px',
                    content: '/mocker/method/edit?id='+data.id
                });
            }if(obj.event === 'copy'){
                $.ajax({
                    url       : "/method/data/copy?id="+data.id,
                    type      : "post",
                    dataType  : "json",
                    async     : true,
                    success: function (data) {
                         active.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }else if(obj.event === 'del'){
              layer.confirm('真的删除行么', function(index){
                 $.ajax({
                    url       : "/method/data/del?id="+data.id,
                    type      : "post",
                    dataType  : "json",
                    async     : true,
                    success: function (data) {
                         layer.close(index);
                         active.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
              });
            }
          });

        $('.queryTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
         });
    });
function formatTabHtml(tab){
        return "<a data-url='"+tab.url+"'><i class='layui-icon' data-icon=''></i><cite>"+tab.title+"</cite></a>";
    }
</script>
</body>
</html>