<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Http数据详情</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all"/>
    <link rel="stylesheet" href="js/layAutoComplete/layuiAutocomplete.css">
</head>
<body>
<br/>
<form id="applicationDataForm" class="layui-form" method="post"
      lay-filter="applicationDataEvent">
    <span id="applicationDataId" hidden th:text='${id}'></span>
    <span id="applicationErp" hidden th:text='${erp}'></span>
    <span id="applicationAppName" hidden th:text='${appName}'></span>
    <span id="applicationAppNameCn" hidden th:text='${appNameCn}'></span>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="type" class="layui-form-label">应用id:</label>
            <div class="layui-input-inline">
                <input type="text" disabled name="id" lay-verify="type" id="type" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label for="appNameCn" class="layui-form-label">应用中文名:</label>
            <div class="layui-input-inline">
                <input type="text" disabled name="appNameCn" id="appNameCn" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">应用英文名:</label>
            <div class="layui-input-inline">
                <input type="text" disabled name="appName" id="appName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所属erp:</label>
            <div class="layui-input-inline">
                <input type="text" disabled name="erp" id="erp" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div th:if="${token ne 'null'}" class="layui-inline">
            <label class="layui-form-label">token:</label>
            <div class="layui-input-inline">
                <input type="text" disabled th:value="${token}" name="token" id="token" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
        </div>
        <div th:if="${token eq 'null'}" class="layui-form-item">
            <div class="layui-input-block">
                <button id="submitBtn" class="layui-btn layui-btn-normal" lay-filter="add" lay-submit>
                    确认接入
                </button>
                <button id="applicationDataClose" class="layui-btn layui-btn-primary">
                    取消
                </button>
            </div>
        </div>
        <div th:if="${token ne 'null'}" class="layui-form-item">
            <div class="layui-input-block">
                <button id="applicationDataCloseBtn" class="layui-btn layui-btn-normal" >
                    确定
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" autocomplete="off" class="layui-input">
                <input type="hidden" name="appNameCn" autocomplete="off" class="layui-input">
                <input type="hidden" name="appName" autocomplete="off" class="layui-input">
                <input type="hidden" name="erp" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" src="js/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form, $ = layui.jquery, layer = layui.layer;
        var applicationDataId = $("#applicationDataId");
        var applicationErp = $("#applicationErp");
        var applicationAppNameCn = $("#applicationAppNameCn");
        var applicationAppName = $("#applicationAppName");
        form.val('applicationDataEvent', {
            'id': applicationDataId.text(),
            'appNameCn': applicationAppNameCn.text(),
            'appName': applicationAppName.text(),
            'erp': applicationErp.text(),
        });
        var index = parent.layer.getFrameIndex(window.name);
        //提交表单
        $("#submitBtn").click(function () {
            $.ajax({
                url: "/mocker/saveApplication",
                type: "post",
                dataType: "json",
                async: true,
                data: $("#applicationDataForm").serialize(),
                success: function (data) {
                    if (data.code == 0) {
                        parent.layer.msg('已经成功生成token<br>' + data.token, {
                            time: 20000, //20s后自动关闭
                            btn: ['确认', '关闭']
                        });
                    } else if (data.code == -1) {
                        parent.layer.msg(data.errorMsg);
                    }
                    parent.location.reload();
                    parent.layer.close(index);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    parent.location.reload();
                    parent.layer.close(index);

                },
            });
            //一秒后关闭页面
            setTimeout(function () {
                parent.layer.close(index)
            }, 1000);
        });
        //关闭页面
        $("#applicationDataClose").click(function () {
            parent.layer.close(index);
        });
        $("#applicationDataCloseBtn").click(function () {
            parent.layer.close(index);
        });
    });
</script>
</html>