<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Http接口数据</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all"/>
</head>
<body>
<br/>
<div class="applicationDataSearch">
    <span id="hiddenErp" hidden th:text='${session.erp}'></span>
</div>

<table id="applicationDataList" class="layui-hide" lay-filter="applicationDataEvent"></table>

</body>
<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/html" id="applicationDataBar">
    <a name="status" value="{{d.token}}" class="layui-btn layui-btn-xs" lay-event="edit">{{ d.status == 0 ? '接入' :
        '查看' }}</a>
</script>
<!--状态-->
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" disabled lay-skin="switch" lay-text="已接入|未接入"
           lay-filter="statusEvent" {{ d.status== 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table, $ = layui.jquery, form = layui.form;
        var cols = [
            {checkbox: true, fixed: true, width: '5%'}
            , {field: 'id', title: '应用id', width: '10%', sort: true}
            , {field: 'appNameCn', title: '应用中文名', width: '12%', sort: true}
            , {field: 'appName', title: '应用英文名', width: '15%', sort: true}
            , {field: 'erp', title: 'erp', width: '15%', sort: true}
            , {field: 'status', title: '状态', width: '10%', templet: '#status', unresize: true}
            , {field: 'erp', title: '操作', width: '10%', toolbar: '#applicationDataBar'}
        ];
        //方法级渲染
        var hiddenErp = $("#hiddenErp");
        table.render({
            id: 'applicationDataList',
            elem: '#applicationDataList'
            , cols: [cols]
            , page: true
            , url: "/mocker/getApplicationInfo?erp=" + hiddenErp.text()
            , height: 'full-85'
        });

        //监听表格复选框选择
        table.on('checkbox(applicationDataEvent)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(applicationDataEvent)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {

                } else if (obj.event === 'edit') {
                    //弹出iframe
                    layer.open({
                        type: 2,
                        title: "应用接入",
                        area: ['700px', '400px'],
                        fix: false,
                        maxmin: true,
                        shadeClose: false,
                        shade: 0.4,
                        content: '/mocker/editApplication?id=' + data.id + "&erp=" + data.erp + "&appName=" + data.appName + "&appNameCn=" + data.appNameCn+"&token="+data.token
                    });
                }
            }
        );

        var active = {
            select: function () {
                var applicationDataErp = $("#applicationDataErp");
                //执行重载
                table.reload('applicationDataList', {
                    url: "/mocker/getApplicationInfo?erp=" + applicationDataErp.val(),
                    where: {}
                });
            }
        };

        $('.applicationDataSearch .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</html>