<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="js/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="js/layui/layui.js"></script>
    <script type="text/javascript" src="js/jsf/jsf.js"></script>

</head>
<body>
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <div th:if="${result.count}!=0">
            <thead>
            <tr>
                <th>ID</th>
                <th>方法名</th>
                <th>接口描述</th>
                <th>创建人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mockDataStat:${result.data}">
                <td th:text="${mockDataStat.id}"></td>
                <td th:text="${mockDataStat.methodName}"></td>
                <td th:text="${mockDataStat.methodDesc}"></td>
                <td th:text="${mockDataStat.erp}"></td>
                <td th:onclick="'javascript:duplicate(\''+${mockDataStat.id}+'\')'">
                    <button class="layui-btn"><i class="layui-icon">复制</i></button>
                </td>
            </tr>
            </tbody>
        </div>
        <div th:if="${result.count}==0">
            <h2><p align="center">该方法下的mock数据还没有创建</p></h2>
        </div>
        <form id="pageParam">
            <input type="hidden" id="totalData" th:value="${result.count}">
        </form>
    </table>
    <div id="demo0">分页</div>
</div>
<script >
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage

        //总页数低于页码总数
        laypage.render({
            elem: 'demo0'
            ,count: 50 //数据总数
        });

        //调用分页
        laypage.render({
            elem: 'demo20'
            ,count: data.length
            ,jump: function(obj){
                //模拟渲染
                document.getElementById('biuuu_city_list').innerHTML = function(){
                    var arr = []
                        ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                    layui.each(thisData, function(index, item){
                        arr.push('<li>'+ item +'</li>');
                    });
                    return arr.join('');
                }();
            }
        });

    });
</script>

</body>
</html>