<div th:fragment="links">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="css/index.css" media="all" />
    <link rel="stylesheet" href="css/icon.css" media="all" />
</div>