<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Http数据详情</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all"/>
    <link rel="stylesheet" href="js/layAutoComplete/layuiAutocomplete.css">
</head>
<body>
<br/>
<form id="easyMockForm" class="layui-form" method="post" lay-filter="easyMockEvent">
    <span id="easyMockId" hidden th:text='${id}'></span>
    <div class="layui-form-item">
        <!--<div class="layui-inline">-->
            <label for="mockDesc" class="layui-form-label">描述信息:</label>
            <div class="layui-input-block">
                <input type="text" name="easyMockDesc" lay-verify="type" id="mockDesc" autocomplete="off"
                       class="layui-input">
            </div>
        <!--</div>-->

        <div th:if="${id}!=null"  class="layui-inline">
            <label for="url" class="layui-form-label">URL:</label>
            <div class="layui-input-inline">
                <input type="text" name="url" disabled id="url" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div th:if="${id}!=null" class="layui-form-item">
            <label class="layui-form-label">创建者:</label>
            <div class="layui-input-inline">
                <input type="text" id="erp" name="erp" disabled autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">文件上传:</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="fileUpload">
                    <i class="layui-icon">&#xe67c;</i>
                </button>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">easyMock数据</label>
            <div class="layui-input-block">
                 <textarea id="responseJson" name="resultData" style="display:none"
                           class="layui-textarea"></textarea>
                <div id="jsoneditor" style="height: 560px;"></div>
            </div>
        </div>

        <div class="layui-form-item" style=" float: right;margin-right: 30px;margin-top: 8px">
            <button id="submit" data-method="submitBtn" class="layui-btn layui-btn-normal">
                确定
            </button>
            <button id="easyMockDataClose" data-method="closeBtn" class="layui-btn layui-btn-primary">
                取消
            </button>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" id="mockId" name="mockId"  autocomplete="off" class="layui-input">
                <!--<input type="hidden" name="url"  autocomplete="off" class="layui-input">-->
                <!--<input type="hidden" name="erp"  autocomplete="off" class="layui-input">-->
            </div>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/javascript" src="js/jsoneditor/jsoneditor.min.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'jquery'], function () {
        var form = layui.form, $ = layui.jquery, layer = layui.layer;

        //初始化jsoneditor
        var container = document.getElementById("jsoneditor");
        var options = {
            mode: 'code',
            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
            onError: function (err) {
                layer.message(err.toString());
            },
            onModeChange: function (newMode, oldMode) {
                console.log('Mode switched from', oldMode, 'to', newMode);
            }
        };
        var editor = new JSONEditor(container, options);

        //文件上传
        layui.use('upload', function () {
            var upload = layui.upload;

            upload.render({
                elem: '#fileUpload'
                , url: '/mock/easymock/upload'
                , accept: 'file' //普通文件
                , done: function (res) {
                    //上传完毕回调
                    editor.set((res.data));
                }
                , error: function (res) {
                    //请求异常回调

                }
            });
        });

        var easyMockId = $("#easyMockId").text();
        if(easyMockId){
            //发送ajax获取值
            var easyMockJson = 0;
            $.ajax({
                url: "/mock/easymock/getdetails?id=" + easyMockId,
                async: false,
                type: "get",
                success: function (data) {
                    easyMockJson = data;
                }
            });
            if(easyMockJson != 0){
                form.val('easyMockEvent', {
                    'mockId': easyMockJson.mockId,
                    'easyMockDesc': easyMockJson.easyMockDesc,
                    'url': easyMockJson.url,
                    'erp': easyMockJson.erp,
                    'resultData':easyMockJson.resultData
                });
                editor.set(JSON.parse(easyMockJson.resultData));
            }
        }

        var index = parent.layer.getFrameIndex(window.name);

        //触发事件
        var active = {
            //提交表单
            submitBtn :function () {
                var json = editor.getText();
                $("#responseJson").val(json);
                //火狐下serialize有问题
//                var formData = $("#easyMockForm").serialize();
                var formData = {};
                formData.mockId = $("#mockId").val();
                formData.easyMockDesc = $("#mockDesc").val();
                formData.url = $("#url").val();
                formData.erp = $("#erp").val();
                formData.resultData = json;
                console.log(formData);
                $.ajax({
                    url: "/mock/easymock/updataEasyMock",
                    type: "POST",
                    dataType: "json",
                    async: true,
                    data: formData,
                    success: function (data) {
                        parent.location.reload();
                        parent.layer.close(index);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        parent.location.reload();
                    }
                });
            },
            closeBtn:function () {
                parent.layer.close(index);
            }
        };

        $('.layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</html>