<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http数据详情</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all" />
    <link rel="stylesheet" href="js/layAutoComplete/layuiAutocomplete.css">
</head>
<body>
<br/>
<form class="layui-form" method="post" lay-filter="httpDataEvent">
    <span id="httpDataId" hidden th:text='${id}'></span>

    <div class="layui-inline">
        <label for="type" class="layui-form-label">类型:</label>
        <div class="layui-input-block">
            <input type="text" name="type" lay-verify="type" id="type" autocomplete="off" class="layui-input" readonly>
        </div>
    </div>

    <div class="layui-inline">
        <label for="methodName" class="layui-form-label">方法名称:</label>
        <div class="layui-input-block">
            <input type="text" name="methodName" id="methodName" autocomplete="off" class="layui-input" readonly>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述信息:</label>
        <div class="layui-input-block">
            <input type="text" id="methodDesc" name="methodDesc" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">接口返回数据</label>
        <div class="layui-input-block">
            <div id="jsoneditor" style="height: 560px;"></div>
        </div>
    </div>

    <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-block">-->
            <!--<button class="layui-btn" lay-submit id="submit" >修改</button>-->
            <!--<button id="httpDataClose" class="layui-btn layui-btn-primary">关闭</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="layui-form-item" style=" float: right;margin-right: 30px;margin-top: 8px">
        <button id="submit"  class="layui-btn layui-btn-normal" lay-filter="add" lay-submit>
            确定
        </button>
        <button id="httpDataClose" class="layui-btn layui-btn-primary">
            取消
        </button>

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id"  autocomplete="off" class="layui-input">
        </div>
    </div>

</form>
</body>
<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/javascript" src="js/jsoneditor/jsoneditor.min.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate','jquery'], function(){
        var form = layui.form, $ = layui.jquery, layer = layui.layer;
        var httpDataId = $("#httpDataId");
        //发送ajax获取值
        var httpDataJson;
        $.ajax({
            url:"/http/data/queryHttpDataById?id="+httpDataId.text(),
            async:false,
            type:"GET",
            success:function (data) {
                httpDataJson = data;
            }
        });
        form.val('httpDataEvent',{
            'id':httpDataJson.id,
            'type':httpDataJson.type,
            'methodName':httpDataJson.methodName,
            'methodDesc':httpDataJson.methodDesc,
            'jsonData':httpDataJson.resultData
        });

        //初始化jsoneditor
        var container = document.getElementById("jsoneditor");
        var options = {
            mode: 'code',
            modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
            onError: function (err) {
                layer.message(err.toString());
            },
            onModeChange: function (newMode, oldMode) {
                console.log('Mode switched from', oldMode, 'to', newMode);
            }
        };
        var editor = new JSONEditor(container, options);
        var jsonText = {};
        if(httpDataJson.resultData){
            jsonText =  eval("(" + httpDataJson.resultData + ")");
        }
        editor.set(jsonText);

        var index = parent.layer.getFrameIndex(window.name);

        //提交表单
        $("#submit").click(function () {
            var httpDataId = $("#httpDataId").text().trim();
            var methodDesc = $("#methodDesc").val();
            var jsoneditor = editor.getText();
            $.ajax({
                url:"/http/data/updateHttpDataById",
                type:"PUT",
                async:false,
                data:{"id":httpDataId, "methodDesc":methodDesc, "resultData":jsoneditor},
                success:function (data) {
                    //刷新父级页面
                    parent.location.reload();
                    parent.layer.close(index)
                }
            });
        });

        //关闭页面
        $("#httpDataClose").on('click', function (index) {
            layer.close(index);
        })
    });
</script>
</html>