<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http接口数据</title>
    <meta th:include="fragments/meta :: meta">
    <link th:include="fragments/links :: links">
    <link rel="stylesheet" href="js/jsoneditor/jsoneditor.min.css" media="all" />
</head>
<body>
<br/>
<div class="httpDataSearch">
    <div class="select">
        接口类型：
        <div class="layui-inline">
            <input class="layui-input" name="id" autocomplete="off" id="httpDataType">
        </div>
        &nbsp;&nbsp;&nbsp;
        创建人：
        <div class="layui-inline">
            <input class="layui-input" name="id" autocomplete="off" id="httpDataErp">
        </div>
        <button class="select-on layui-btn layui-btn-sm" data-type="select"><i class="layui-icon"></i></button>
    </div>
</div>

<table id="httpDataList" class="layui-hide" lay-filter="httpDataEvent"></table>
<!--状态-->
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开|关" lay-filter="statusEvent" {{ d.status == 1 ? 'checked' : '' }}>
</script>

</body>
<script type="text/javascript" src="js/layui/layui.js"></script>
<script type="text/html" id="httpDataBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table','jquery'], function() {
        var table = layui.table, $ = layui.jquery, form = layui.form;
        var cols = [
            {checkbox: true, fixed: true, width: '5%'}
            , {field: 'type', title: '类型', width: '15%', sort: true}
            , {field: 'methodName', title: '方法名称', width: '10%', sort: true}
            , {field: 'resultData', title: '接口返回结果', width: '12%', sort: true}
            , {field: 'methodDesc', title: '描述信息', width: '10%', sort: true}
            , {field: 'status', title: '状态', width: '5%', templet: '#status', unresize: true }
            , {field: 'erp', title: '创建人', width: '15%', sort: true}
            , {field: 'text', title: '操作', width: '10%', toolbar:'#httpDataBar'}
        ];
        //方法级渲染
        table.render({
            id: 'httpDataList',
            elem: '#httpDataList'
            , url: '/http/data/queryMockHttpDataByPage'
            , cols: [cols]
            , page: true
            ,  height: 'full-85'
        });

        //监听表格复选框选择
        table.on('checkbox(httpDataEvent)', function(obj){
            console.log(obj)
        });

        //监听工具条
        table.on('tool(httpDataEvent)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){

            } else if(obj.event === 'del'){
                layer.confirm('确定要删除么？', function(index){
                    // 调用后台进行删除操作
                    $.ajax({
                        url:"/http/data/deleteHttpDataById?id="+data.id,
                        async:false,
                        type:"DELETE",
                        success:function (data) {
                            //刷新表格
                            table.reload('httpDataList');
                            layer.msg('删除成功', {icon: 6});
                        }
                    });
                    // obj.del();
                    // layer.close(index);
                });
            } else if(obj.event === 'edit'){
                //弹出iframe
                layer.open({
                    type: 2,
                    title:"接口数据详情",
                    area : ['700px', '400px'],
                    fix: false,
                    maxmin: true,
                    shadeClose: false,
                    shade: 0.4,
                    content: '/http/data/queryDetailForEdit?id='+data.id
                });
            }
        });

        //监听搜索框
        var active = {
            select: function(){
                var httpDataType = $('#httpDataType');
                var httpDataErp = $("#httpDataErp");
                //执行重载
                table.reload('httpDataList', {
                    url:"/http/data/queryMockHttpDataByCondition?type="+httpDataType.val()+"&erp="+httpDataErp.val(),
                    where:{
                    }
                });
            }
        };
        $('.httpDataSearch .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听状态操作
        form.on('switch(statusEvent)', function(obj){
            var status = obj.elem.checked == true? 1 : 0;
            $.ajax({
                url:"/http/data/updateStatusById?id="+this.value+"&status=" + status,
                type:"PUT",
                success:function (data) {

                }
            });
            // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

    });
</script>
</html>